	<script type='text/javascript'>
		handler = Gmaps.build('Google');
		handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  			markers = handler.addMarkers([
    			{
      				"lat": 55.85065,
      				"lng": -4.240723,
      				"picture": {
        				"path": "google.maps.SymbolPath.CIRCLE",
        				"width":  36,
        				"height": 36
      				},
      				"infowindow": '<%= link_to("example", controller: "point_of_interest", action: "example") %>'
    			}
  			]);
  			handler.bounds.extendWith(markers);
  			handler.fitMapToBounds();
		});
	</script>

<div class = "summary">
	<h1>Welcome!</h1>
		<p>
			You can use this web application to look for many Points Of Interest, or POI, anywhere in the
			world. For each POI, you can see information about the POI, pictures, and other information 
			related to the POI. If you sign in, you can post comments about the POI and discuss with others 
			about what you like about it. 
		</p>
		<p>
			Please read our Rules page for the rules we enforce concerning anything in this web app.
		</p>
		<p>Enjoy!</p>
</div>

<div class = "google_map">
	<h2>Map</h2>
	<div style='width: 800px;'>
  		<div id="map" style='width: 800px; height: 400px;'></div>
	</div>
</div>

<div class = "pictures">
	<h2>Recently Added Pictures</h2>
</div>
