<h1><i class="fa fa-th-list"></i> Rules</h1>

<p>
	If you have any comments, complaints or concerns about our rules, please feel free to contact us by using the link above.
	Any rules not listed does not mean it is allowed. We have the final say in what can be posted or used in our site.
</p>

<div id="commenter_rules_area">
	<h2><i class="fa fa-pencil-square-o"></i> Commenter Rules</h2>
	
	<p>
		The following rules apply to all commenters.	
	</p>
	
	<ol class="fa fa-ol">
		<li>Do not post obscene, indecent, abusive or hateful material.</li>
		<li>Do not post advertisements.</li>
		<li>Do not post any personal information about yourself or anyone else.</li>
		<li>Debates and opposing opinions are welcomed, but must behave respectfully.</li>
		<li>Do not post copyrighted material unless you own the copyright to the material, or have permision to do so.</li>
	</ol>
	
</div>

<div id="poi_manager_rules">
	<h2><i class="fa fa-location-arrow"></i> P.O.I. Manager Rules</h2>	
	
	<ol>
		<li>Follow the same rules for commenters and picture rules.</li>
		<li>Post correct information</li>
	</ol>
	
</div>

<div id="picture_rules">
	<h2><i class="fa fa-picture-o"></i> Picture Rules</h2>
	
	<ol>
		<li>Do not post obscene, indecent, abusive or hateful images.</li>
		<li>Do not post advertisement images.</li>
		<li>Do not post copyrighted material unless you own the copyright to the material, or have permision to do so.</li>
		<li>Any picture deemed to be breaking any rules will be removed.</li>
	</ol>
	
</div>

