<!DOCTYPE html>
<html>
	
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  
  <body>
  	
    <h1>Message from, <%= @name %></h1>
    
    <h2>
      Subject: <%= @subject %> </br>
      Send Reply To: <%= @email %>
    </h2>
    
    <p>
      <%= @message %>.
    </p>
    
  </body>
  
</html>