<!DOCTYPE html>
<html>
	
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  
  <body>
  	
    <h1>Account Change to <%= @wanted_account_type%> from <%= @current_account_type %> has been - DENIED</h1>
    
    <p>
      <%= @user.name %>, your account type change request has been denied.
    </p>

    <p>
      If you need the account change accepted, please resubmit a request with more information.</br></br>

      FROM,</br>
      POINT
    </p>
    
  </body>
  
</html>