<!DOCTYPE html>
<html>
	
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  
  <body>
  	
    <h1>Account Change to <%= @new_account_type%> from <%= @previous_account_type %> has been - ACCEPTED</h1>
    
    <p>
      <%= @user.name %>, your account on POINT has been changed to <%= @new_account_type %>. 
      The next time you sign into POINT, you will see the change. If you have any questions, contact us using 
      the Contact us link in POINT.
    </p>

    <p>
      FROM,</br>
      POINT
    </p>
    
  </body>
  
</html>