<%= bootstrap_flash %>

<h1>New picture for POI: <%= @poi.id %></h1>

<%= render 'form' %>

<%= link_to @poi, :class => "btn btn-danger" do %>
	<i class="fa fa-arrow-circle-o-left"></i> Back
<% end %>
