<div class="image" align="top">
	<% Picture.where(point_of_interest_id: gmappoi.id, main_image: true).each do |picture| %>
		<%= image_tag picture.photo.url(:thumb) %>
	<% end %>
</div>
<div class="text">
	<h4>Address</h4>
	<%= gmappoi.address %>
</div>
<div class="body">
	<h4>Summary</h4>
	<%= gmappoi.summary %>
</div>
<hr>
<div class="link">
	<%= link_to "Visit POI Page", "point_of_interests/" + gmappoi.id.to_s %>
</div>
