/* Tell the browser to render HTML 5 elements as block */  
header, footer, aside, nav, article {  
    display: block;  
}

/* handles the entire page */
html {
	
	background-color: #FFFFFF;
	background-image: url('/assets/POINT-background.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	padding-left: 25px;
	padding-right: 25px;
	
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	
}

/* All Headers Styles */
h1 {
	font-size: 21px;
}

h2 {
	font-size: 16px;
}

/* All paragram styling */
p {
	font-size: 14px;
}

/* .body handles the mid section, body of the page*/
.body {
    
    width:800px;
	margin-left:auto;
	margin-right:auto;
	padding:10px;
	background-color: #FFFFFF;
    
    border-left: 2px solid black;
    border-right:2px solid black;
}

/* .header handles the top, header of the page. Includes .navigation within it*/
header {
	position: relative;
	border-bottom: 5px solid black;
}

/* .navigation, within .header, handles the navigational links of the app */
nav {
	position: absolute;
	top: 0;
	right: 0;
	float: right;
	padding-right: 25px;
	width: auto;
	margin-left, margin-right: auto;
}

nav ul {
	list-style-type: none;
}

nav li {
	display: inline;
	padding-left: 25px;
}

/* Links style */
nav a {
	color: #FF0000;
	text-decoration: none;
}

/* .footer handles the foot of the page */
footer {
	position: relative;
	border-top: 5px solid black;
}
