<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<%= stylesheet_link_tag "point_app" %>
		
		<title>POINT</title>
	</head>
	
	<div class = "wrapper_all">
		
		<header>
			
			<%= link_to( image_tag("POINT-Logo-1.jpg"), "/") %>
			
			<nav>
				<ul>
				    <li>Link 1</li>
				    <li><%= link_to "Contact Us", controller: "contact_us_messages", action: "new" %></li>
				    <li>Login</li>
				</ul>
				<!-- Will change when pages are created -->
			</nav><!-- closes nav -->
			
		</header><!-- closes header -->
		
		<div class="body">
			
			<%= yield %>
			
		</div><!-- closes body -->
		
		<footer>
			<p>Footer</p>
		</footer><!-- closes footer -->
	
	</div><!-- closes wrapper_all -->

</html>
